<div class="row_column">
  <% @venues.each do |venue| %>
  <a href="/venues/<%= venue.id %>">
    <button class="venue">
      <h3><%= link_to venue.name, venue %></h3>
      <img src="<%= venue.image %>">
      <p><%= venue.description %></p>
    </button>
  </a>
  <% end %>
</div>
