
<h1> VenViews: The Website For Venue Reviews </h1>

<div class="row_column">
<% @venues.each do |venue| %>
 <h3><%= link_to venue.name, venue %></h3>
 <p><%= venue.description %></p>
<% end %>
</div>
