

<h1><%= @venue.name %></h1>
<p><strong>Description:</strong> <br/> <%= @venue.description %></p>
<p><strong>Address:</strong> <br/> <%= @venue.address %></p>
<p><strong>Capacity:</strong> <br/> <%= @venue.capacity %></p>
